$maxProjectCardHeight: 220px;

.projectcard {
    width: 450px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    padding: 1rem 0.6rem;
    background-color: #72A1E5;
    // scroll-snap-align: start;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    img {
        width: clamp(7.5em, 20vw, 14em);
        height: $maxProjectCardHeight;
        object-fit: contain;
        object-position: center;

        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }

    .projectcard__info {
        height: $maxProjectCardHeight;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .project__link {
            align-self: center;
            color: black;
            text-align: center;
            background-color: #F3CA40;
            padding: .2em .7em;
            width: 5em;
            border: 1px solid transparent;

            // touch-action: auto;
            user-select: none;
            border-radius: 4px;
            transition: all .3s ease;
        }
        .project__link:hover {
            background-color: #e0ba3d;
        }
    }

    .projectcard__description {
        // width: 13em;

        .projectcard__description__title {
            margin-bottom: .4em;
        }

        .ds__span {
            height: $maxProjectCardHeight / 1.5;
            overflow-y: auto;
        }

        .ds__span::-webkit-scrollbar {
            width: 2px;
            height: 5px;
        }

        /* Track */
        .ds__span::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        .ds__span::-webkit-scrollbar-thumb {
            background: black;
        }

        /* Handle on hover */
        .ds__span::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

// -------------------------------
// query che per smartphone porti l'immagine sopra e il testo sotto.
// -------------------------------
@media (max-width: 770px) {
    $maxProjectCardHeight: 400px;

    .ds__span {
        height: $maxProjectCardHeight / 2;
    }

    .projectcard {
        width: 50vw;
        flex-direction: column;

        img {
            width: 100%;
            border-radius: 10px;
            height: 140px;
            align-self: center;
        }
    }

    .projectcard__description {
        width: 85% !important;
        align-self: center;
    }
}

@media (max-width: 535px) {
    // .projectcard {
    //     width: 100%;
    // }

    .projectcard__description {
        width: 100% !important;
        font-style: clamp(0.2em, 3vw, 1em);
    }
}