.projects__container {
    width: 100%;
    // background-color: red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    position: relative;
    padding: 30px 0;
}

.projects__carousel {
    align-items: center;
    // background-color: blue;
    width: 90%;
    // width: 50vw;
    display: flex;
    justify-content: start;
    position: relative;
    overflow-x: hidden;

    touch-action: pan-y;
    user-select: none;

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
}

@media (max-width: 770px) {
    .projects__carousel {
        min-width: 250px;
    }
}

.carousel-animation {
    transition: all 0.3s ease;
}

.carousel {
    display: flex;
    justify-content: start;
    gap: 30px;
    // scroll-snap-type: x mandatory;
    // background-color: yellow;
}

.controller {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border-radius: 50%;
}