.section__container {
    margin-inline: clamp(.8em, 4vw, 2em);
    margin-block: 5rem 7rem;

    .section__title {
        // font-size: 2rem;
        font-size: clamp(2em, 4vw, 2.9em);

        margin-bottom: 2rem;
    }
}